/*home*/

@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    background-image: url("../images/Untitled.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Raleway;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.logo{
    margin: .5%;
    width: 10%;
    margin-left: 45%;
    margin-right: auto;
    position:absolute;
    z-index: 1;
}

/*--START SIDENAV --*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #435231;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-weight: lighter;
}

.sidenav.show {
    width: 20%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container {
    position: fixed;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: wheat;
    margin: 6px 0;
    transition: .9s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*--END SIDENAV --*/

/*-- START ABOUT US TABLE --*/
#aboutUs{
    padding: 1%;
}
#aboutUs img{
    border-radius: 8%;
}

#aboutUs h2{
    text-align: left;
    color: wheat;
}

#aboutUs p{
    text-align: left;
    color: wheat;
}
/*-- END ABOUT US TABLE --*/

/*-- START TABLE WITH NEW ITEMS --*/
.table_new{
    background-color: #DCC5AF;
    border-radius: .5%;
}

/* .table_new img{
    border-radius: 4%;
    position: relative;
}

.table_new img{ 
    opacity: 1; 
    transition: opacity 300ms linear;
} 
.table_new img:hover{ 
    opacity: 0.6; 
}  */

.item {
    border-radius: 4%;
    position: relative;
    overflow: hidden;
    z-index: 5;
    bottom: 0;
    width: 100%;
}

.item::after {
    content: '';
    position: absolute;
    background: #e5e5e5;
    opacity: 0;
    transition: .5s ease all;
    overflow: hidden;
    bottom: 0;
    
}
  
.item img {
    transition: .5s ease all; 
    width: 90%;    
    object-fit: cover;
    border-radius: 3%;
}
  
.item:hover img {
    cursor: pointer;
    transform: scale(1.1);
    bottom: 0;
}
  
.item:hover::after {
    opacity: 0.1;
    bottom: 0;
}

h1{
    margin: 0;
    font-size: 300%;
    text-align: center;
    font-weight: 1500;
}

.table_new a:hover{
    color: white;
}

.table_new a{
    text-decoration: none;
}

table{
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    text-align: center;
}

td{
    font-style: italic;
    font-weight: 600;
}

th, td {
    padding-left: 1rem;   
    padding-right: 1rem;
}

h2{
    font-weight: bolder;
    margin: 0%;
    color: white;
}

p{
    font-weight: 600;
    color: white;
}

section{
    padding-bottom: 1%
}
/*-- END TABLE WITH NEW ITEMS --*/

footer{
    background-color: #172B23;
    overflow:hidden;
}

.wrapper{
    margin-left: 7%;
}

.workhours{
    padding-top: 1%;
    margin-left: 11%;
}

.center {
    text-align: center;
    width: 30%;
    padding-top: 1%;
    padding-left: 33%;
}
.logofooter {
    text-align: right;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.float-left {
    float: left;
    width: 11%;
}

.float-right {
    float: right;
    padding-right: 3%;
}

footer a{
    text-decoration: none;
    color: white;
}
